@mixin shine{
  &:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
}

@mixin shinig{
  &:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    &:before {
      left: 100%;
    }
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
                    120deg,
                    transparent,
                    rgba($gray-250, 0.4),
                    transparent
    );
    transition: all 1250ms;
  }
}