$PANTONE801: #009ace;
$PANTONE802: #44d62c;
$PANTONE803: #ffe900;
$PANTONE804: #ffaa4d;
$PANTONE805: #ff7276;
$PANTONE806: #ff3eb5;
$PANTONE807: #ea27c2;

$PANTONE808:  #00b796;
$PANTONE809:  #e3e829;
$PANTONE810:  #ffd635;
$PANTONE811:  #ff8f6c;
$PANTONE812:  #ff5fa2;
$PANTONE813:  #fb48c4;
$PANTONE814:  #8a69d4;

$PANTONE901:  #00aada;
$PANTONE902:  #8de971;
$PANTONE903:  #fff36d;
$PANTONE904:  #ffcd8a;
$PANTONE905:  #ff9da7;
$PANTONE906:  #ff7cd6;
$PANTONE907:  #f469db;

$PANTONE908:  #00afdb;
$PANTONE909:  #a9ee8a;
$PANTONE910:  #fdf38a;
$PANTONE911:  #ffd9a4;
$PANTONE912:  #ffacb6;
$PANTONE913:  #ff92da;
$PANTONE914:  #f57fe0;

$PANTONE915:  #00bce3;
$PANTONE916:  #b9efa3;
$PANTONE917:  #f7f4a2;
$PANTONE918:  #ffdfb4;
$PANTONE919:  #ffc0c8;
$PANTONE920:  #ffade3;
$PANTONE921:  #f8a3e6;

$PANTONE922:  #00c0a3;
$PANTONE923:  #ecf166;
$PANTONE924:  #ffe671;
$PANTONE925:  #ffad93;
$PANTONE926:  #ff85bd;
$PANTONE927:  #fc76d9;
$PANTONE928:  #997adb;

$PANTONE929:  #2bc9af;
$PANTONE930:  #eef386;
$PANTONE931:  #ffe983;
$PANTONE932:  #ffbba4;
$PANTONE933:  #ff9bcb;
$PANTONE934:  #fc8de0;
$PANTONE935:  #ab92e1;

$PANTONE936:  #6dd5c3;
$PANTONE937:  #eff4a4;
$PANTONE938:  #fceea8;
$PANTONE939:  #ffcfbe;
$PANTONE940:  #ffb6d9;
$PANTONE941:  #fca9e6;
$PANTONE942:  #c0aee7;