
// FOR DEMO ONLY
// body {
//   align-items: center;
//   display: flex;
//   height: 100%;
//   justify-content: center;
//   margin: 0;
//   overflow: hidden;
//   position: absolute;
//   width: 100%;
// }

$menu-toggler-color: #1a1a1a;
$menu-toggler-color-active: #ff0099;

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 600ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// common rotate active
.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

// For SVG PATH
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $menu-toggler-color;
  stroke-width:5.5;
  stroke-linecap:round;

}


.ham-wind-rtl .top {
  stroke-dasharray: 40 139;

}
.ham-wind-rtl .bottom {
  stroke-dasharray: 40 180;

}
.ham-wind-rtl.active .top {
  stroke-dashoffset: -98px;
 // stroke: $menu-toggler-color-active;
}

.ham-wind-rtl.active .bottom {
  stroke-dashoffset: -138px;
//  stroke: $menu-toggler-color-active;
}
 .active .top{
stroke: $menu-toggler-color-active;

 }

.ham-wind-ltr .top {
  stroke-dasharray: 40 82;
}
.ham-wind-ltr .middle {
  stroke-dasharray: 40 111;
}
.ham-wind-ltr .bottom {
  stroke-dasharray: 40 161;
}
.ham-wind-ltr.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham-wind-ltr.active .middle {
  stroke-dashoffset: 23px;
}
.ham-wind-ltr.active .bottom {
  stroke-dashoffset: -83px;
}


.ham-back .top {
  stroke-dasharray: 40 82;
}
.ham-back .bottom {
  stroke-dasharray: 40 82;
}
.ham-back.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham-back.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}


.ham-close .top {
  stroke-dasharray: 40 130;
}
.ham-close .middle {
  stroke-dasharray: 40 140;
}
.ham-close .bottom {
  stroke-dasharray: 40 205;
}
.ham-close.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham-close.active .middle {
  stroke-dashoffset: -102px;
}
.ham-close.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}


