/* _HELPERCLASSES.SCSS
=============================== */

.introduction{
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-sm;
  line-height: $line-height-m;
}


/*
TEXTBLOCK HELPER
 */

.text-justify{
  text-align: justify;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-centered {
  text-align: center;
}

/*
CONTENT PLACEHOLDER
 */

.img-placeholder {
  background-image: url("http://placehold.it/200x100/fff/1a1a1a&text=PLCHOLDER");
  background-size: cover;
  min-height: 200px;  // need to specify min-height and min-width
  min-width: 200px;
  padding-bottom: 50px;
}


// TODO give new div-name float-box-...
// Contents classes
.content-1of1::before {
  content: "1";
  min-height: 120px;
}
.content-1of2::before {
  content: "1/2";
}
.content-1of3::before { content: "1/3"; }
.content-1of4::before { content: "1/4"; }
.content-1of6::before { content: "1/6"; }
.content-1of12::before { content: "1/12"; }


.hidden-tape{
  display:none;
}
